//default cta button
.button {
    display: block;
    padding: 15px 20px;
    color: $white;
    text-align: center;
    background: transparent;
    border: 1px solid $white;
    border-radius: 3px;
    transition: .2s $cubic;
    
    &:hover {
        background: $white;
        color: $main-color;
    }

    &.button__small {
        @include fontsize(14px);
    }
}