//3 column grid
.grid {
    .grid__row {
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .grid__item {
            @include bp-medium {
                float: left;
                width: 30%;
                margin-right: 5%;

                &:nth-child(3n+3) {
                    margin-right: 0;
                }
            }
        }
    }
}