//3 column grid
.grid {
    margin-top: 24px;

    @include bp-medium {
        margin-top: 32px;
    }

    .grid__row {
        .grid__item {
            @include bp-medium {
                float: left;
                width: 32%;
                margin-right: 2%;

                &:nth-child(3n+3) {
                    margin-right: 0;
                }
            }
        }
    }
}