//top to bottom
@mixin verticalGradient($top, $bottom){
    background: $top; //fallback for old browsers
    background: -webkit-linear-gradient(top,  $top 0%, $bottom 100%); 
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);    
    background: linear-gradient(to bottom,  $top 0%, $bottom 100%); 
}

//left to right
@mixin horizontalGradient($left, $right){
    background: $left; //fallback for old browsers
    background: -webkit-linear-gradient(left,  $left 0%, $right 100%); 
    background: -moz-linear-gradient(left,  $left 0%, $right 100%);    
    background: linear-gradient(to right,  $left 0%, $right 100%); 
}

