//sass variables
//colors
$white: #ffffff;
$black: #000000;

$main-color: #E74C3C;
$secondary-color: #F9BF3B;
$tertiary-color: #ff7f50;

$text-color: #181818;
$light-text-color: #999999;

$dark-grey: #cccccc;
$grey: #eeeeee;
$light-grey: #fafafa;

$success: #29b572;
$error: #e74c3c;

//fonts
$ovp-regular: 'Overpass-Regular', sans-serif;
$ovp-bold: 'Overpass-Bold', sans-serif;
$ovp-light: 'Overpass-Light', sans-serif;
$ovp-thin: 'Overpass-Thin', sans-serif;

//breakpoints
$bp-small: 480px;
$bp-medium: 768px;
$bp-normal: 960px;
$bp-large: 1200px;