//import utils
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/placeholders';

//import scss assets from your bower_components - this will be done automatically
// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

//import base
@import 'base/fonts';
@import 'base/base';

//import partials
@import 'partials/buttons';
@import 'partials/form';
@import 'partials/grid';

//import pagges
@import 'pages/index';